@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Poor Story", system-ui;
  font-weight: 400;
  font-style: normal;
}

